.yard-header {
  background-color: #fff;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.product-search-input {
  font-weight: 600;
  width: 20rem;
}
.yard-txt {
  color: var(--primary);
}
.yard-header-links {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.yard-header-links:hover {
  color: var(--primary);
}

@keyframes wiggle{
  0%, 100% {transform: rotate(0deg);
  background-color: var(--primary);
  }
  25% {transform: rotate(-10deg); 
    background-color: #0057fa;
  }
  50% {transform: rotate(0deg);}
  75% {transform: rotate(5deg);
  background-color: #0057fa;}
}

.cart-btn-box {
  background-color: var(--primary);
  color: #fff;
  width: fit-content;
  margin-right: 1rem;
  transition: transform 0.2s;
}

.cart-btn-box.wiggle{
  animation: wiggle 0.5s ease-in-out 0s 1;
}


.header-heights {
  height: 2rem;
}
.header-search-input {
  border: 1px solid var(--primary);
  background-color: rgb(241, 241, 241);
}

.hamburger {
  flex-direction: column;
  display: none;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #000;
  margin: 4px 0;
  transition: 0.4s;
}

.yard-brand{
    font-weight: bold;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu-items {
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 1rem 0;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-top: 1px solid gray;
  }
  .product-search-input {
    max-width: 85%;
    margin-bottom: 1rem;
  }

  .menu-items.active {
    left: 0;
  }
}
