:root {
  --primary: #4051b5;
  --background-light: #f6f6f8;
  --background-dark: #14161e;
  --border-bottom-light: #eaebf1;
  --text-dark: #111218;
  --gray-200: #e5e7eb;
  --header-height: 4rem;
}
body {
  font-family: 'Work Sans', sans-serif;
}

.checkout-big-box{
    background-color: var(--border-bottom-light);
    min-height: calc(100vh - var(--header-height));
}

.yard-txt {
  color: var(--primary);
}

.checkout-mark-box {
  width: 1.5rem;
  height: 1.5rem;
}

.checkout-radius {
  border-radius: 2rem;
}

.yard-card-input {
  border: 1px solid gray;
  min-width: 25rem;
}

.checkout-btn {
  background-color: var(--primary);
  color: #fff;
  height: fit-content;
}

.class-pointer{
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #2e41ad;
  color: #fff;
}

.modal-backdrop-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  z-index: 1050;
  justify-content: center;
}

.home-big-container{
    background-image: url('https://cdn.pixabay.com/photo/2018/07/30/12/00/iphone-3572477_960_720.jpg');
    min-height: calc(100vh - var(--header-height));
}

.shop-discount-container{
  background-image: url('https://assets.boots.com/content/dam/boots/seasonal-campaigns/sale/sale-2024---2025/SALE_Hero_2024.dam.ts%3D1733145614909.jpg');
  min-height: 5rem;
  color: #e6e5ec;
}

.img-containers{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.img-containers::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -9;
}



@media (max-width: 768px) {
  .yard-card-input {
    min-width: fit-content;
  }
}