:root {
    --primary: #4051b5;
    --background-light: #f6f6f8;
    --background-dark: #14161e;
    --border-bottom-light: #eaebf1;
    --text-dark: #111218;
}
body {
  font-family: 'Work Sans', sans-serif;
}