:root {
    --primary: #4051b5;
    --background-light: #f6f6f8;
    --background-dark: #14161e;
    --border-bottom-light: #eaebf1;
    --text-dark: #111218;
    --gray-200: #e5e7eb;
}
body {
  font-family: 'Work Sans', sans-serif;
}

.checkout-mark-box{
    width: 1.5rem;
    height: 1.5rem;
}