<div class="grey-background vh-100 d-flex align-items-center">
    <div class="container">
        <div class="toast-wrapper position-fixed top-0 end-0 p-3">
            @for (toast of toastServ.toasts(); track toast.id) {
            <div class="alert toast-item alert-{{toast.type}} mb-2">
                {{ toast.message }}
            </div>
            }
        </div>
        <form [formGroup]="loginForm" class="bg-white container checkout-radius p-5 auth-form-card"
            (ngSubmit)="handleUserLogin()">
            <div>
                <h3 class="fw-bold m-0">Product<span class="yard-txt">Yard</span></h3>
            </div>
            <div>
                <p class="text-muted fw-bold">Sign in</p>
            </div>
            <div class="form-group mb-2">
                <label for="user-username">Username</label>
                <input type="text" class="form-control" id="user-username" aria-describedby="emailHelp"
                    formControlName="username" placeholder="Enter your username" autocomplete="username">
                @if (loginForm.get('username'); as usernameCtrl){
                @if (usernameCtrl.hasError('required') && usernameCtrl.touched){
                <small class="form-text text-danger">
                    Username is required.
                </small>
                }
                }
            </div>
            <div class="form-group mb-2">
                <label for="user-password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="user-password"
                    placeholder="Password" autocomplete="new-password">
                @if (loginForm.get('password'); as passwordCtrl) {
                @if (passwordCtrl?.hasError('required') && passwordCtrl.touched) {
                <small class="form-text text-danger">
                    Password is required.
                </small>
                }
                }
            </div>
            <button type="submit" class="btn checkout-btn blue-background my-2">
                @if (isLoading()){
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                } @else {
                Submit
                }
            </button>
            <div>
                <p>Don't have an account? <span routerLink="/register" class="text-primary class-pointer"> Signup</span>
                </p>
            </div>
        </form>
    </div>
</div>