<form [formGroup]="router.url === '/register' ? registerForm : loginForm"
    class="bg-white container checkout-radius p-5 auth-form-card" (ngSubmit)="router.url==='register'? handleUserRegister(): handleUserLogin()">
    <div>
        <h3>Product<span class="yard-txt">Yard</span></h3>
    </div>
    <div>
        <p>Sign up Today</p>
    </div>
    <div class="form-group mb-2">
        <label for="user-username">Username</label>
        <input type="text" class="form-control" id="user-username" aria-describedby="emailHelp"
            formControlName="username" placeholder="Enter your username" autocomplete="username">
        <small id="usernameHelp" class="form-text text-danger">{{usernameMissing}}</small>
    </div>
    @if(router.url === '/register'){
    <div class="form-group mb-2">
        <label for="user-email">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="user-email" aria-describedby="emailHelp"
            placeholder="Enter email" autocomplete="johndoe@gmail.com">
        <small id="emailHelp" class="form-text text-danger">{{emailMissing}}</small>
    </div>
    }

    <div class="form-group mb-2">
        <label for="user-password">Password</label>
        <input formControlName="password" type="password" class="form-control" id="user-password" placeholder="Password"
            autocomplete="new-password">
        <small id="passwordLengthHelp" class="form-text text-danger">{{passwordLengthError}}</small>
        <small id="passwordHelp" class="form-text text-danger">{{passwordMissing}}</small>
    </div>
    @if(router.url === '/register'){
    <div class="form-group mb-2">
        <label for="user-confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control" id="user-confirmPassword"
            placeholder="Password" autocomplete="new-password">
        <small id="passwordMismatchHelp" class="form-text text-danger">{{passwordMismatch}}</small>
    </div>
    }

    @if(router.url === '/register'){
    <div class="form-group mb-2">
        <label>Select your role</label>
        <select id="role" formControlName="role" class="form-select form-select-sm">
            <option value="" disabled>-- Choose an option --</option>
            @for(option of options; track option){
            <option [value]="option">
                {{option}}
            </option>
            }
        </select>
    </div>
    }
    <button type="submit mb-3" class="btn checkout-btn">Submit</button>
    <div>
        @if(router.url === '/login'){
        <p>Don't have an account? <span routerLink="/register" class="text-primary class-pointer"> Signup</span></p>
        } @else {
        <p>Already have an account? <span routerLink="/login" class="text-primary class-pointer"> Signin</span></p>
        }
    </div>
</form>