.checkout-big-box{
    background-color: var(--border-bottom-light);
    min-height: calc(100vh - var(--header-height));
}
.checkout-mark-box p{
    margin: 0;
}
.size-common{
    font-size: 1.3rem;
}
.product-checkout-img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}
.product-typography h5{
    font-size: 1.1rem;
}
.product-typography p{
    font-size: .9rem;
}
.product-checkout-price{
    color: var(--primary);
    font-weight: 600;
}

.product-child-el{
    margin-bottom: 0;
    max-width: 90%;
}
