.yard-product-card{
    border: none;
}
.product-bold-text{
    font-weight: 700;
}
.product-price{
    color: var(--primary);
}
.product-text{
    font-size: .9rem;
}
.yard-product-image{
    height: 15rem;
    object-fit: cover;
}