.product-price {
  color: var(--primary);
}

.yard-product-image {
  height: 15rem;
}

.product-image-container {
  position: relative;
}

.glass {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--background-light);
  height: 2rem;
  width: 2rem;
}

.glass:hover {
  background-color: rgb(228, 228, 228);
}

// .yard-card-input {
//   @include media-breakpoint-down(md) {
//     min-width: fit-content;
//   }
// }
