.yard-product-card{
    border: none;
}
.product-bold-text{
    font-weight: 700;
}
.product-price{
    color: var(--primary);
}
.product-text{
    font-size: .9rem;
}
.yard-product-image{
    height: 15rem;
    object-fit: cover;
}

.modal-backdrop-wrapper {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}