.yard-product-card {
  border: none;
}

.product-bold-text {
  font-weight: 700;
}

.product-price {
  color: var(--primary);
}

.product-text {
  font-size: 0.9rem;
}

.yard-product-image {
  height: 15rem;
  object-fit: cover;
}

.product-desc-img {
  width: 15rem;
  float: left;
}

.product-image-container {
  position: relative;
}

.glass {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--background-light);
  height: 2rem;
  width: 2rem;
}

.glass:hover{
    background-color: rgb(228, 228, 228);
}

@media (max-width: 768px) {
  .yard-card-input {
    min-width: fit;
  }
}
